@import url('https://fonts.cdnfonts.com/css/adobe-clean');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400&display=swap');
:root{
    --brand : #353434;
    --primary: #2abea5;
}
.font-main{
    font-family: 'Adobe Clean UX', sans-serif;
}
.font-custom {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.font-code {
    font-family: 'Source Code Pro', monospace;
}
html{
    scroll-behavior: smooth;
}
img{
    object-fit: cover;
}
